In [61]:
# Import relevent library

import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import warnings
warnings.filterwarnings('ignore')


from sklearn.neighbors import KNeighborsClassifier


from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from xgboost import XGBClassifier
from catboost import CatBoostClassifier
from sklearn import metrics
from sklearn.metrics import roc_curve
from sklearn.metrics import recall_score, confusion_matrix, precision_score, f1_score, accuracy_score, classification_report

from sklearn.ensemble import VotingClassifier


from sklearn.metrics import confusion_matrix, accuracy_score 
from sklearn.metrics import f1_score, precision_score, recall_score, fbeta_score
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import KFold
from sklearn import feature_selection
from sklearn import model_selection
from sklearn import metrics
from sklearn.metrics import classification_report, precision_recall_curve
from sklearn.metrics import auc, roc_auc_score, roc_curve
from sklearn.metrics import make_scorer, recall_score, log_loss
from sklearn.metrics import average_precision_score
#Standard libraries for data visualization:

In [2]:
# Load the train and test data
train =  pd.read_csv('/content/train.csv')
test = pd.read_csv('/content/test.csv')

In [3]:
train.head()

,CustomerID,Age,Gender,City,State,No_of_orders_placed,Sign_up_date,Last_order_placed_date,is_premium_member,Women’s_Clothing,Men’s_Clothing,Kid’s_Clothing,Home_&_Living,Beauty,Electronics,Preferred_Theme
0,CusID_00126,22.0,Male,Vancouver,British Columbia,4.0,2017-06-23,2021-04-01,0,2.945701,8.924431,2.000000,2.325376,1.924891,9.820254,New_UI
1,CusID_00927,NaN,Female,Budapest,Central Hungary,9.0,2018-05-21,2020-01-26,0,6.115229,2.363926,6.968752,7.355854,8.561461,2.162229,Old_UI
2,CusID_01646,26.0,Male,Mumbai,Maharashtra,NaN,2019-02-15,2020-11-28,0,1.000000,3.000000,1.766530,3.471802,0.808147,9.055563,New_UI
3,CusID_06228,NaN,Male,San Francisco,California,7.0,2019-07-18,2020-11-16,0,2.116475,9.064060,5.387599,NaN,0.459090,7.343461,New_UI
4,CusID_04239,29.0,Female,Taipei,Taiwan,NaN,2018-02-05,2020-03-12,0,7.352878,1.995744,2.676853,7.159554,8.184695,2.000000,Old_UI

In [4]:
test.head()

,CustomerID,Age,Gender,City,State,No_of_orders_placed,Sign_up_date,Last_order_placed_date,is_premium_member,Women’s_Clothing,Men’s_Clothing,Kid’s_Clothing,Home_&_Living,Beauty,Electronics
0,CusID_09654,20.0,Female,Vancouver,British Columbia,5.0,2019-11-27,2020-03-22,0,4.000000,3.043023,6.231789,8.561328,9.893144,1.197478
1,CusID_09727,25.0,Not_Specified,Budapest,Central Hungary,11.0,2016-12-01,2021-08-22,1,4.379066,5.819171,6.923614,4.529057,5.105539,4.608664
2,CusID_07391,31.0,Female,Perth,Western Australia,1.0,2019-10-31,2020-11-28,1,7.946141,4.000000,9.939050,9.744879,8.874676,2.069313
3,CusID_08577,17.0,Female,Kolkata,West Bengal,7.0,2019-09-05,2021-03-20,0,8.396490,3.636100,4.170301,8.412250,9.389648,3.103196
4,CusID_08122,39.0,Male,New York City,New York,8.0,2019-07-17,2021-01-19,0,2.443467,9.143171,6.307817,3.224570,1.892078,7.298316

In [19]:
# Checking missing values in train dataset

train.isnull().sum()

CustomerID                0
Age                       0
Gender                    0
City                      0
State                     0
No_of_orders_placed       0
Sign_up_date              0
Last_order_placed_date    0
is_premium_member         0
Women’s_Clothing          0
Men’s_Clothing            0
Kid’s_Clothing            0
Home_&_Living             0
Beauty                    0
Electronics               0
Preferred_Theme           0
dtype: int64

In [15]:
# fill the missing values in train data
train['Age'].fillna((train['Age'].mean()), inplace=True)
train['No_of_orders_placed'].fillna((train['No_of_orders_placed'].mean()), inplace=True)
train['Kid’s_Clothing'].fillna((train['Kid’s_Clothing'].mean()), inplace=True)
train['Home_&_Living'].fillna((train['Home_&_Living'].mean()), inplace=True)

In [18]:
# Checking missing values in train dataset

test.isnull().sum()

CustomerID                0
Age                       0
Gender                    0
City                      0
State                     0
No_of_orders_placed       0
Sign_up_date              0
Last_order_placed_date    0
is_premium_member         0
Women’s_Clothing          0
Men’s_Clothing            0
Kid’s_Clothing            0
Home_&_Living             0
Beauty                    0
Electronics               0
dtype: int64

In [16]:
# fill the missing values in train data
test['Age'].fillna((test['Age'].mean()), inplace=True)
test['No_of_orders_placed'].fillna((test['No_of_orders_placed'].mean()), inplace=True)
test['Kid’s_Clothing'].fillna((test['Kid’s_Clothing'].mean()), inplace=True)
test['Home_&_Living'].fillna((test['Home_&_Living'].mean()), inplace=True)

In [17]:
# checking the shape of data
train.shape,test.shape

((15150, 16), (1850, 15))

In [9]:
# summary of data

train.describe()

,Age,No_of_orders_placed,is_premium_member,Women’s_Clothing,Men’s_Clothing,Kid’s_Clothing,Home_&_Living,Beauty,Electronics
count,14147.000000,14377.000000,15150.000000,15150.000000,15150.000000,14215.000000,14302.000000,15150.000000,15150.000000
mean,28.356613,8.200876,0.323828,1.848024,4.464372,4.573373,4.576805,4.069482,2.830962
std,7.563249,3.606418,0.467951,12.814344,2.979838,2.628990,2.380538,3.808290,13.056017
min,15.000000,0.000000,0.000000,-99.000000,-1.000000,-3.000000,-2.000000,-20.114294,-99.000000
25%,22.000000,5.000000,0.000000,1.301135,2.019508,2.602179,2.817589,1.135181,2.472861
50%,29.000000,8.000000,0.000000,3.305220,3.603376,4.826021,4.338659,2.914518,4.602270
75%,33.000000,10.000000,1.000000,6.656113,7.595931,6.482865,6.532475,7.634503,7.872561
max,50.000000,15.000000,1.000000,9.998061,9.999751,9.997132,9.993163,26.564845,9.999038

In [10]:
# summary of test data

test.describe()

,Age,No_of_orders_placed,is_premium_member,Women’s_Clothing,Men’s_Clothing,Kid’s_Clothing,Home_&_Living,Beauty,Electronics
count,1819.000000,1778.000000,1850.000000,1850.000000,1850.000000,1827.000000,1827.000000,1850.000000,1850.000000
mean,29.272128,8.242407,0.340541,4.384352,4.315254,4.945404,4.505756,4.174118,4.877670
std,8.187110,3.657581,0.474019,2.886372,2.948271,2.582262,2.643967,3.273865,2.904890
min,15.000000,0.000000,0.000000,-2.000000,-1.000000,-2.000000,-1.000000,-1.000000,-2.000000
25%,23.000000,5.000000,0.000000,2.000000,2.000000,3.000000,2.276267,1.363882,2.348540
50%,29.000000,8.000000,0.000000,3.739130,3.646886,5.073131,4.313613,3.000000,4.632417
75%,34.000000,11.000000,1.000000,6.958571,6.929417,6.920714,6.631530,7.690696,7.533786
max,50.000000,15.000000,1.000000,9.991346,9.998916,9.995912,9.989994,9.999745,9.997705

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15150 entries, 0 to 15149
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              15150 non-null  object
 1   Age                     14147 non-null  float64
 2   Gender                  15150 non-null  object
 3   City                    15150 non-null  object
 4   State                   15150 non-null  object
 5   No_of_orders_placed     14377 non-null  float64
 6   Sign_up_date            15150 non-null  object
 7   Last_order_placed_date  15150 non-null  object
 8   is_premium_member       15150 non-null  int64
 9   Women’s_Clothing        15150 non-null  float64
 10  Men’s_Clothing          15150 non-null  float64
 11  Kid’s_Clothing          14215 non-null  float64
 12  Home_&_Living           14302 non-null  float64
 13  Beauty                  15150 non-null  float64
 14  Electronics             15150 non-null  float64
 15  Preferred_Theme         15150 non-null  object
dtypes: float64(8), int64(1), object(7)
memory usage: 1.8+ MB

In [12]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1850 entries, 0 to 1849
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              1850 non-null   object
 1   Age                     1819 non-null   float64
 2   Gender                  1850 non-null   object
 3   City                    1850 non-null   object
 4   State                   1850 non-null   object
 5   No_of_orders_placed     1778 non-null   float64
 6   Sign_up_date            1850 non-null   object
 7   Last_order_placed_date  1850 non-null   object
 8   is_premium_member       1850 non-null   int64
 9   Women’s_Clothing        1850 non-null   float64
 10  Men’s_Clothing          1850 non-null   float64
 11  Kid’s_Clothing          1827 non-null   float64
 12  Home_&_Living           1827 non-null   float64
 13  Beauty                  1850 non-null   float64
 14  Electronics             1850 non-null   float64
dtypes: float64(8), int64(1), object(6)
memory usage: 216.9+ KB

In [13]:
# checking the unique values in train dataset

train.nunique()

CustomerID                 8150
Age                          36
Gender                        3
City                         23
State                        21
No_of_orders_placed          16
Sign_up_date               1455
Last_order_placed_date      670
is_premium_member             2
Women’s_Clothing          13656
Men’s_Clothing            13959
Kid’s_Clothing            13463
Home_&_Living             13645
Beauty                    13618
Electronics               13545
Preferred_Theme               2
dtype: int64

In [14]:
# checking the unique values in train dataset

test.nunique()

CustomerID                1850
Age                         36
Gender                       3
City                        23
State                       21
No_of_orders_placed         16
Sign_up_date              1037
Last_order_placed_date     630
is_premium_member            2
Women’s_Clothing          1632
Men’s_Clothing            1608
Kid’s_Clothing            1651
Home_&_Living             1647
Beauty                    1452
Electronics               1628
dtype: int64

# EDA

In [23]:
# count of Preferred_Theme
print(train.Preferred_Theme.value_counts(normalize = True))
print(train.Preferred_Theme.value_counts())

New_UI    0.506535
Old_UI    0.493465
Name: Preferred_Theme, dtype: float64
New_UI    7674
Old_UI    7476
Name: Preferred_Theme, dtype: int64

In [25]:
type_ = ["New_UI", "Old_UI"]
fig = make_subplots(rows=1, cols=1)

fig.add_trace(go.Pie(labels=type_, values=train['Preferred_Theme'].value_counts(), name="Preferred_Theme"))

# Use `hole` to create a donut-like pie chart
fig.update_traces(hole=.4, hoverinfo="label+percent+name", textfont_size=16)

fig.update_layout(
    title_text="theme",
    # Add annotations in the center of the donut pies.
    annotations=[dict(text='Preferred_Theme', x=0.5, y=0.5, font_size=20, showarrow=False)])
fig.show()

In [26]:
train.Preferred_Theme[train.Preferred_Theme == "New_UI"].groupby(by = train.Gender).count()

Gender
Female           2251
Male             4585
Not_Specified     838
Name: Preferred_Theme, dtype: int64

In [27]:
train.Preferred_Theme[train.Preferred_Theme == "Old_UI"].groupby(by = train.Gender).count()

Gender
Female           4077
Male             2023
Not_Specified    1376
Name: Preferred_Theme, dtype: int64

Modelling Part

In [30]:
# removing irrelevent colums
train = train.drop(columns = ['CustomerID','State','Sign_up_date','Last_order_placed_date'])
test = test.drop(columns = ['CustomerID','State','Sign_up_date','Last_order_placed_date'])

In [31]:
# One hot encoding
train = pd.get_dummies(train, columns = ['Gender','City'],prefix = '',prefix_sep = '')
test = pd.get_dummies(test, columns = ['Gender','City'],prefix = '',prefix_sep = '')

In [32]:
train.head()

,Age,No_of_orders_placed,is_premium_member,Women’s_Clothing,Men’s_Clothing,Kid’s_Clothing,Home_&_Living,Beauty,Electronics,Preferred_Theme,...,New York City,Paris,Perth,San Francisco,Shinjuku,Sydney,Taipei,Toronto,Vancouver,Vienna
0,22.000000,4.000000,0,2.945701,8.924431,2.000000,2.325376,1.924891,9.820254,New_UI,...,0,0,0,0,0,0,0,0,1,0
1,28.356613,9.000000,0,6.115229,2.363926,6.968752,7.355854,8.561461,2.162229,Old_UI,...,0,0,0,0,0,0,0,0,0,0
2,26.000000,8.200876,0,1.000000,3.000000,1.766530,3.471802,0.808147,9.055563,New_UI,...,0,0,0,0,0,0,0,0,0,0
3,28.356613,7.000000,0,2.116475,9.064060,5.387599,4.576805,0.459090,7.343461,New_UI,...,0,0,0,1,0,0,0,0,0,0
4,29.000000,8.200876,0,7.352878,1.995744,2.676853,7.159554,8.184695,2.000000,Old_UI,...,0,0,0,0,0,0,1,0,0,0

In [33]:
test.head()

,Age,No_of_orders_placed,is_premium_member,Women’s_Clothing,Men’s_Clothing,Kid’s_Clothing,Home_&_Living,Beauty,Electronics,Female,...,New York City,Paris,Perth,San Francisco,Shinjuku,Sydney,Taipei,Toronto,Vancouver,Vienna
0,20.0,5.0,0,4.000000,3.043023,6.231789,8.561328,9.893144,1.197478,1,...,0,0,0,0,0,0,0,0,1,0
1,25.0,11.0,1,4.379066,5.819171,6.923614,4.529057,5.105539,4.608664,0,...,0,0,0,0,0,0,0,0,0,0
2,31.0,1.0,1,7.946141,4.000000,9.939050,9.744879,8.874676,2.069313,1,...,0,0,1,0,0,0,0,0,0,0
3,17.0,7.0,0,8.396490,3.636100,4.170301,8.412250,9.389648,3.103196,1,...,0,0,0,0,0,0,0,0,0,0
4,39.0,8.0,0,2.443467,9.143171,6.307817,3.224570,1.892078,7.298316,0,...,1,0,0,0,0,0,0,0,0,0

In [34]:
X = train.drop(labels=['Preferred_Theme'], axis=1)
y = train['Preferred_Theme'].values

from sklearn.model_selection import train_test_split
X_train, X_cv, y_train, y_cv = train_test_split(X, y, test_size=0.10, random_state=42)

In [35]:
X_train.shape, y_train.shape, X_cv.shape, y_cv.shape

((13635, 35), (13635,), (1515, 35), (1515,))

In [36]:
# scaling the data
from sklearn.preprocessing import StandardScaler, MinMaxScaler
sc = StandardScaler()
X_train_sc = sc.fit_transform(X_train)
X_cv_sc = sc.fit_transform(X_cv)
test = sc.fit_transform(test)

In [37]:
# Logistic regression
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression() 
lr.fit(X_train_sc, y_train)

LogisticRegression()

In [38]:
# predict on validation data
lr_pred = lr.predict(X_cv_sc)

In [39]:
lr_pred

array(['Old_UI', 'New_UI', 'New_UI', ..., 'Old_UI', 'Old_UI', 'Old_UI'],
      dtype=object)

In [41]:
from sklearn.metrics import accuracy_score, classification_report,confusion_matrix
print('Accuracy_score Testing Data: ',round(accuracy_score(y_cv, lr_pred)*100,2))
print('\n','Classification_report Testing data: ','\n','\n',classification_report(y_cv, lr_pred))

Accuracy_score Testing Data:  70.5

 Classification_report Testing data:

               precision    recall  f1-score   support

      New_UI       0.73      0.69      0.71       794
      Old_UI       0.68      0.72      0.70       721

    accuracy                           0.70      1515
   macro avg       0.71      0.71      0.70      1515
weighted avg       0.71      0.70      0.71      1515

In [43]:
lr_pred1 = lr.predict(test)

In [44]:
lr_pred1

array(['New_UI', 'Old_UI', 'Old_UI', ..., 'New_UI', 'Old_UI', 'Old_UI'],
      dtype=object)

In [48]:
# XGBoost
import xgboost as xgb

In [49]:
# XG Boost
xgb_model = xgb.XGBClassifier(silent=False, 
                              scale_pos_weight=1,
                              learning_rate=0.1,
                              colsample_bytree =0.8,
                              subsample = 0.8,
                              objective='binary:logistic',
                              n_estimators=1000, 
                              max_depth=4, 
                              reg_alpha=0.01,
                              gamma=0,random_state=42)

In [51]:
# Model training
xgb_model.fit(X_train_sc, y_train,
              verbose=True)

XGBClassifier(colsample_bytree=0.8, max_depth=4, n_estimators=1000,
              random_state=42, reg_alpha=0.01, silent=False, subsample=0.8)

In [52]:
# predict on validation data
RFpredict2 = xgb_model.predict(X_cv_sc)

In [53]:
print(accuracy_score(y_cv,RFpredict2))

0.7148514851485148

In [54]:
# Random Forest
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train_sc,y_train)

RandomForestClassifier()

In [55]:
RFpredict = model.predict(X_cv_sc)

In [56]:
print(accuracy_score(y_cv,RFpredict))
print(confusion_matrix(y_cv,RFpredict))
print(classification_report(y_cv,RFpredict))

0.7254125412541255
[[597 197]
 [219 502]]
              precision    recall  f1-score   support

      New_UI       0.73      0.75      0.74       794
      Old_UI       0.72      0.70      0.71       721

    accuracy                           0.73      1515
   macro avg       0.72      0.72      0.72      1515
weighted avg       0.73      0.73      0.73      1515

In [45]:
test1 = pd.read_csv('/content/test.csv')

In [47]:
# Save the prediction results
submission = pd.DataFrame({
        "CustomerID": test1['CustomerID'],
        "Preferred_Theme": lr_pred1
    })
submission.to_csv('Preferred_ThemeSubmission3.csv', index=False)
print(submission)

       CustomerID Preferred_Theme
0     CusID_09654          New_UI
1     CusID_09727          Old_UI
2     CusID_07391          Old_UI
3     CusID_08577          Old_UI
4     CusID_08122          Old_UI
...           ...             ...
1845  CusID_02254          New_UI
1846  CusID_00977          Old_UI
1847  CusID_00148          New_UI
1848  CusID_04876          Old_UI
1849  CusID_05091          Old_UI

[1850 rows x 2 columns]